<div class="container" style="margin-top: 20px;margin-bottom 20px;">
  <div class="row">
    <div class="col">
      <form id="evtForm">
        <div class='form-row'>
          {{!-- <div class='form-group col-md-6'>
            <label>Organizer name</label><input class="form-control" type="text" id="Oname" name="Oname">
          </div> --}}
          <div class='form-group col-md-6'>
            <label>Event Name</label> <input class="form-control" type="text" id="Ename" name="Ename">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Address (Type it on the map)</label><input type='text' class="form-control" id="Eloc"
              name="Eloc"></textarea>
          </div>
          <div class="form-group col-md-4">
            <label>Date</label><input class="form-control" type="date" id="Edate" name="Edate">
          </div>
          <div class="form-group col-md-2">
            <label>StartTime</label><input class="form-control" type="time" id="Estart" name="Estart">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Description </label> <input class="form-control" type="text" id="Edesc" name="Edesc">
          </div>
          <div class="form-group col-md-6">
            <label>Ticket Price </label><input class="form-control" type="number" id="Eprice" name="Eprice">
          </div>
        </div>
        <div class="form-row">
           <div class='form-group col-md-6'>
                <label>Game</label><select class="custom-select" name="Game">
                    <option value="PUBG" selected>PUBG</option>
                    <option value="CSGO">CS:GO</option>
                    <option value="LOL">League of Legends</option>
                </select>
            </div>
          
        </div>

        <button type="button" class="btn btn-primary" id="createEvt">Submit</button>
      </form>
      <a href="events"><button type="button" class="btn btn-secondary" id="createEvt">Cancel</button></a>
      
    </div>
    <div class="col">
			<div id='mapid' style='width: 576px; height: 550px; '></div>
      <button type="button" class="btn btn-success btn-block" id="btnHeatmap" onclick="toggle()">Toggle Heatmap: ON</button>
		</div>
  </div>
</div>
{{!-- CDN - LeafLeet Map --}}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
{{!-- CDN - LeafLeet Geocoder --}}
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
{{!-- Local files --}}
<script src="javascripts/createEvent.js"></script>
<style>#map { width: 800px; height: 500px; }
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>


