<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">eScout</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Events
			<span class="sr-only">(current)</span>
			</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /.container -->
	<div class="container">
		<div class="row">
			<div class="col">
				<form action="/newEvent" id="confirm">
					Event Name: <input type="text" id="Ename" name="Ename"><br>
					Event Description: <input type="text" id="Edesc" name="Edesc"><br>
					Event StartTime: <input type="time" id="Estart" name="Estart"><br>
					Event Location: <input type="text" id="Eloc" name="Eloc"><br>
					Event Date: <input type="date" id="Edate" name="Edate"><br>
					Ticket Price: <input type="number" id="Eprice" name="Eprice"><br>
					Organizer name: <input type="text" id="Oname" name="Oname"><br>
					<input type="submit" value="Submit">
					</form>
          <a href="events"><button>Cancel</button></a>
			</div>
		</div>
	</div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; eScout 2019</p>
    </div>
    <!-- /.container -->
  </footer>
  <script src="/javascripts/createEvent.js"></script>