<head>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
	<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

</head>



<!-- Page Content -->
<div class="container">
	 
	<div class="row">
		<p>Click the button to get your coordinates.</p>

		<input type="button" value="Get Route" onclick="getRoute()">

	</div>
	<div class="row">
		<div class="col">
			<a href="createEvent" id="newevtbtn"></a>
		</div>
	</div>
	<div class="row my-4">
		<div class="col-lg-3">

      <div class="list-group">
        <a href="#" class="list-group-item active" onclick="showEvents('PUBG')" id="PUBG">PUBG</a>
        <a href="#" class="list-group-item" onclick="showEvents('LOL')" id="LOL">LOL</a>
        <a href="#" class="list-group-item" onclick="showEvents('CSGO')" id="CSGO">CS:GO</a>
      </div>

    </div>
		<div class="col">
			<div class="row" id="eventslist"></div>
		</div>
		<div class="col">
			<div id="mapid"></div>
		</div>

	</div>
	<!-- /.row -->

</div>
<!-- /.container -->

 

<!-- <script src="javascripts/map.js"></script> -->
<script src="javascripts/events.js"></script>