<head>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
	<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

</head>



<!-- Page Content -->
<div class="container">
	<div class="row">
		<p>Click the button to get your coordinates.</p>

		<input type="button" value="Try it" onclick="getLocation()">
		<input type="button" value="Get Route" onclick="getRoute()">

	</div>
	<div class="row">
		<div class="col">
			<button>Filter</button>
			<a href="createEvent"><button>Create Event</button></a>
		</div>
	</div>
	<div class="row my-4">
		<div class="col">
			<div class="row" id="eventslist">

			</div>
		</div>
		<div class="col">
			<div id="mapid"></div>
		</div>

	</div>
	<!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; eScout 2019</p>
	</div>
	<!-- /.container -->
</footer>

<!-- <script src="javascripts/map.js"></script> -->
<script src="javascripts/events.js"></script>