<head>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
	<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
</head>
<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col">
			<a href="createEvent" id="newevtbtn"></a>
		</div>
	</div>
	<div class="row my-4">
		<div class="col-lg-3">

			<div class="list-group">
				<a href="#" class="list-group-item active" onclick="showEvents('PUBG')" id="PUBG">PUBG</a>
				<a href="#" class="list-group-item" onclick="showEvents('LOL')" id="LOL">LOL</a>
				<a href="#" class="list-group-item" onclick="showEvents('CSGO')" id="CSGO">CS:GO</a>
			</div>
		</div>
		<div class="col">
			<div class="row" id="eventslist"></div>
		</div>
		<div class="col">
			<button type="button" class="btn btn-block btn-primary" onclick="getRoute()">Click me to see a Route to event</button>
			<div id="mapid" style="height: 400px;"></div>
		</div>
	</div>
	<!-- /.row -->
</div>
<!-- /.container -->
<script src="javascripts/events.js"></script>
<style>
	.card.h-100:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 5px grey;
    background-color: #d9d9d9;
    cursor:pointer;
  }
</style>