<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Highlights</h1>
      <div class="list-group">
        <a href="#" class="list-group-item active" onclick="showVids('PUBG')" id="PUBG">PUBG</a>
        <a href="#" class="list-group-item" onclick="showVids('LOL')" id="LOL">LOL</a>
        <a href="#" class="list-group-item" onclick="showVids('CSGO')" id="CSGO">CS:GO</a>
        <a href="#" class="list-group-item" onclick="c" id="TUTORIALS">Tutorials(coming soon)</a>
      </div>

    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
      <div class="card mb-3 mt-5">
        <div class="row no-gutters" id="bestvid">
        
        </div>
      </div>
 
    <div class="row" id="homeVideos">

    </div>
  </div>
  </div>
  <!-- /.container -->
</div>
</div>


<script src="javascripts/index.js"></script>