<div class="container">
  <div class="row">
    <h2 id="pusername"></h2>
  </div>
  <div class="row my-4">
    <div class="col-3">
      <img id="pPhoto" src="/images/profile.png" alt="Profile Photo" class="img-thumbnail">
    </div>
    <div class="col-9">
      <p id="pName">Name: </p>
      <p id="pAge">Age: </p>
      <p id="pRegion">Region: </p>
      <p id="pGame">Game: </p>
      <p id="pMainPos"> </p>
      <p id="pTeam"> </p>
    </div>
  </div>
  <div id="buttons">
    <a href="uploadVideo"><button>Upload</button></a>
  </div>
  <div class="row my-4">
    <div class="col">
      <h2>Bio</h2>
      <p id="pBio">
      </p>
    </div>
  </div>
  <div class="row">
    <h2>Highlights</h2>
  </div>
  <div class="row" id="videosList">

  </div>
</div>
  <script src="javascripts/users.js"></script>