

 
<div >
    <form id="formFile">
        <ul >
            <li> <label> Video </label> </li>
            <li><input type="file" name="video" id="video"></li>
            <li><label>Video Title</label></li>
            <li><input type="text" name="VideoTitle" placeholder="Video Title"></li>
            <li><label>Description </label></li>
            <li><input type="text" name="Description" placeholder="..."></li>
            <li> <label>Game</label> <select name="Game">
                
                    <option value="PUBG">PUBG</option>
                    <option value="CSGO">CS:GO</option>
                    <option value="LOL">League of Legends</option>
                    <option value="Fortnite">Fortnite</option>
                </select></li>

            <li><button id="sendVideo">Submit</button></li>

            <li><a href="profile"><button>Cancel</button></a></li>
        </ul>
    </form>
</div>


<script src="javascripts/uploadVideo.js"></script>
