
body {
    background-color: white;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  .messages-box,
  .chat-box {
    height: 510px;
    overflow-y: scroll;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }
  
/* TESTING */

#bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}
#bottom-bar button:hover {
  background: #47a0ff;
}
#bottom-bar button {
  float: none;
  width: 100%;
  padding: 15px 0;
}
#bottom-bar button {
  float: left;
  border: none;
  padding: 10px 0;
  background: #007bff;
}
#bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}